*.html
/beku
/beku.test
/cover.html
/cover.out
/cpu.prof
/mem.prof
/testdata/a/b/file
/testdata/beku.db.exclude
/testdata/beku.db.save
/testdata/src/github.com/shuLhan/beku_test
/testdata/src/github.com/shuLhan/share
